---
import Layout from "../layouts/Layout.astro";
import Filters from "../components/Filters.astro";

---
<Layout title="Map View">
    <aside>
        <Filters />
    </aside>
    <main>
        
    </main>
</Layout>