---
import UploadCollection from '../components/UploadCollection.astro';
import Layout from '../layouts/Layout.astro';
---
<Layout title="Upload a new dataset">
    <main>
        <UploadCollection />
    </main>
</Layout>